body{
  font-family:sans-serif;
  color:#333;
  margin:0;
  text-align:center
}
body > img{
  position:relative
}
#header{
  height: 80px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: relative;
  display:table;
  width:100%
}
#middle{
  display:table-cell;
  vertical-align:middle
}
#char-bg{
  height:715px;
  background:url('images/bg.png');
  background-size:cover;
  position:absolute;
  width:100%;
  overflow:hidden;
  border-bottom: 1px solid #000
}
#char-bg > div{
  width:1400px;
  position:absolute;
  left:50%;
  margin-left:-700px;
  margin-top:100px
}
#char-bg > div div:first-child{
  float:right
}
#char-bg > div div:last-child{
  float:left
}
#char-bg img{
  position:relative
}
#char-bg > div div:first-child img:first-child{
  left:490px;
  top:16px;
  width:200px
}
#char-bg > div div:first-child img:last-child{
  top:16px;
  width:400px;
  left:64px
}
#char-bg > div div:last-child img:first-child{
  width:178px;
  top:38px;
  left:-43px
}
#char-bg > div div:last-child img:last-child{
  top:38px;
  left:-334px;
  width:502px
}
@media screen and (min-width:975px) {
  #container{
    width:975px
  }
  #header ul{
    width:975px
  }
}
@media screen and (max-width:974px) {
  #container{
    width:100%
  }
  #header ul{
    width:100%
  }
}
#info{
  position: relative;
  top: -75px
}
#container{
  background:#fff;
  margin:0 auto;
  position:relative;
  height:600px
}
#container > div{
  padding:5px
}
#container > div > div:first-child{
  width:100%;
  height:400px;
  background:url('images/bg.jpg');
  background-size:cover;
  text-align:left
}
#container > div > div:first-child span{
  color:#fff;
  background:rgba(0,0,0,.5);
  padding:5px 8px;
  position:relative;
  left:15px;
  top:15px
}
#container > div > div:nth-child(2){
  display:table;
  width:100%;
  height:100px
}
#container > div > div:nth-child(2) > div{
  display:table-cell;
  vertical-align:middle;
  text-align:center
}
#container > div > div:nth-child(2) > div div{
  display:inline-block;
  padding:5px 8px;
  background:#3894FF;
  color:#fff;
  border-radius:5px;
  position:relative;
  z-index:9
}
#header ul{
  display:table;
  margin:0 auto;
  font-weight:bold;
  position:relative
}
#header span{
  font-size:13px;
  color:#888
}
#header p{
  height: 50px;
  width: 100%;
  border-right: 1px solid rgba(0,0,0,.16);
  padding-top: 13px;
}
#header li{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  cursor:pointer
}
#header li,#m span{
  transition:all .5s
}
#header li:hover{
  background:#B2B2B2;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.16);
}
#header li:hover p{
  border-right:1px solid transparent
}
#header li:hover,#header li:hover span{
  color:#fff
}
#header li:first-child p{
  border-left:1px solid rgba(0,0,0,.16)
}
h1,h4{
  text-transform:uppercase
}
h1{
  margin:0;
}
a{
  text-decoration:none
}
h4{
  color:#000;
  margin:0 0 15px;
}
#info div{
  padding:50px 10px;
  vertical-align:top;
  text-align:left
}
#info img{
  width:200px;
  padding:15px
}
#info div div{
  height:auto;
  display:inline-block
}
#info div div:first-child{
  width:30%;
  vertical-align:middle
}
#info div div:last-child{
  width:60%
}
#info div:nth-child(even) div,#info div:nth-child(even) img{
  float:right
}
#info div:nth-child(odd) div{
  float:left
}
body > div:last-child{
  background: #363636;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  height: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index:20
}
body > div:last-child a{
  color:#fff
}
